<html>
  <body>
    <h2>キーワード登録</h2>
    <form action="/keyword/create" method="post">
      <input name="word" type="text"></input>
      <input type="submit" value="投稿">
    </form>
  </body>
</html>