{{define "content"}}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">検索条件</h3>&nbsp;&nbsp;
  </div>

  <div class="box-body">
    <div class="form-group">
      <form action="/page/competitor" method="post">
        <div class="form-group">
          URL
          <select name="page_id" class="form-control select2">
            {{range .Pages}}
            <option value="{{.ID}}">{{.URL}}</option>
            {{end}}
          </select>
        </div>
        <div class="form-group">
          キーワード
          <select name="keyword_id" class="form-control select2">
            {{range .Keywords}}
            <option value="{{.ID}}">{{.Word}}</option>
            {{end}}
          </select>
        </div>
        <input type="submit" value="検索" class="btn btn-md btn-primary">
      </form>
    </div>
  </div>
</div>

  {{range .StaticFiles}}
  日にち{{.TargetDay}} 順位：{{.Rank}}

  <div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">順位推移</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="chart">
      <canvas id="canvas" height=400></canvas>
    </div>
  </div>
  <!-- /.box-body -->
</div>

<!--仮のフォーム-->
<div class="box box-danger">
  <div class="box-body">
    <div class="form-group">
      <div class="form-group">
        <form action="/page/comparison" method="get">
          <div class="form-group">
            6/21<input type="checkbox" class="minimal">
            6/28<input type="checkbox">
            7/5<input type="checkbox">
            7/12<input type="checkbox">
            7/19<input type="checkbox">
            7/26<input type="checkbox">
            8/2<input type="checkbox">
            8/9<input type="checkbox">
            8/18<input type="checkbox">
            8/23<input type="checkbox">
          </div>

          <input type="submit" value="比較" class="btn btn-md btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  // とある4週間分のデータログ
  var barChartData = {
      labels: ["6/21", "6/28", "7/5", "7/12", "7/19", "7/26", "8/2", "8/9", "8/16", "8/23"],
      datasets: [
          {
              type: 'line',
              label: '順位',
              data: [4,4,4,5,5,5,8,8,9,9],
              borderColor : "rgba(254,97,132,0.8)",
              backgroundColor : "rgba(254,97,132,0)",
              yAxisID: "rank",
              tension: 0,
          },
      ],
  };



  var complexChartOption = {
      responsive: true,
      tooltipTitleFontStyle : "normal",
      maintainAspectRatio: false,
      tooltips:{mode: 'label'},
      scales: {
          yAxes: [{
              id: "rank",   // Y軸のID
              type: "linear",   // linear固定
              position: "left", // どちら側に表示される軸か？
              ticks: {          // スケール
                  max: 1,
                  min: 10,
                  stepSize: 1
              },
          }],
      }
  };

  $(function() {
      console.log('graph開始');
      ctx = document.getElementById("canvas").getContext("2d");
      ctx.fillStyle = "rgb(200,0,0)";
      ctx.fillRect(20, 30, 60, 40);
      window.myBar = new Chart(ctx, {
          type: 'line',
          data: barChartData,
          options: complexChartOption
      });
      console.log('graph完了');
  });


</script>


  {{end}}
{{end}}