{{define "content"}}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">検索条件</h3>&nbsp;&nbsp;
  </div>

  <div class="box-body">
    <div class="form-group">
      <form action="/page/competitor" method="post">
        <div class="form-group">
          URL
          <select name="page_id" class="form-control select2">
            {{range .Pages}}
            <option value="{{.ID}}">{{.URL}}</option>
            {{end}}
          </select>
        </div>
        <div class="form-group">
          キーワード
          <select name="keyword_id" class="form-control select2">
            {{range .Keywords}}
            <option value="{{.ID}}">{{.Word}}</option>
            {{end}}
          </select>
        </div>
        <input type="submit" value="検索" class="btn btn-md btn-primary">
      </form>
    </div>
  </div>
</div>

  {{if .StaticFiles -}}

  <div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">順位推移</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="chart">
      <canvas id="canvas" height=400></canvas>
    </div>
  </div>
  <!-- /.box-body -->
</div>

<!--仮のフォーム-->
<div class="box box-danger">
  <div class="box-body">
    <div class="form-group">
      <div class="form-group">
        <form action="/page/comparison" method="post">
          <input type="hidden" name="page_id" value="{{.PageID}}">
          <input type="hidden" name="keyword_id" value="{{.KeywordID}}">
          <div class="form-group">
            {{range .StaticFiles}}
              {{.TargetDay}}<input type="checkbox" name="days[]" value="{{.TargetDay}}">
            {{end}}
          </div>

          <input type="submit" value="比較" class="btn btn-md btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>


<script>

  // とある4週間分のデータログ
  var days = new Array(1);
  var ranks = new Array(1);
  {{range .StaticFiles}}
    ranks.unshift({{.Rank}});
    days.unshift({{.TargetDay}})
  {{end}}
  var barChartData = {
      labels: days,
      datasets: [
          {
              type: 'line',
              label: '順位',
              data: ranks,
              borderColor : "rgba(254,97,132,0.8)",
              backgroundColor : "rgba(254,97,132,0)",
              yAxisID: "rank",
              tension: 0,
          },
      ],
  };



  var complexChartOption = {
      responsive: true,
      tooltipTitleFontStyle : "normal",
      maintainAspectRatio: false,
      tooltips:{mode: 'label'},
      vAxis: {direction:-1}, // Y軸を逆方向にする
      hAxis: {direction:-1},  // X軸を逆方向にする
      scales: {
          yAxes: [{
              id: "rank",   // Y軸のID
              type: "linear",   // linear固定
              position: "left", // どちら側に表示される軸か？
              direction: -1,
              ticks: {          // スケール
                  max: 1,
                  min: 10,
                  stepSize: 1
              },
          }],
      }
  };

  $(function() {
      ctx = document.getElementById("canvas").getContext("2d");
      ctx.fillStyle = "rgb(200,0,0)";
      ctx.fillRect(20, 30, 60, 40);
      window.myBar = new Chart(ctx, {
          type: 'line',
          data: barChartData,
          options: complexChartOption
      });
  });


</script>


  {{end}}
{{end}}